:root {
  --color-primary:        #00ff9c;
  --color-secondary:      #435058;
  --color-secondary-light:#849eae;
  --color-secondary-dark: #333333;
  --color-teal:           #1bf2da;
  --color-grey-light-1:   #ededed;
  --color-black:      #000;
  --color-white:      #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-grey-light-1); }

ul {
  list-style: none; }

*:link,
*:visited {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: block; }

.navbar .nav__link:link, .navbar .nav__link:visited {
  font-style: italic; }

.heading-primary {
  color: var(--color-primary);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15rem;
  letter-spacing: -.5rem;
  line-height: .8; }
  .heading-primary span {
    font-size: 7rem;
    font-weight: 300; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  background: none;
  border-radius: .8rem;
  letter-spacing: .6rem;
  color: var(--color-grey-light-1);
  border: 1px solid var(--color-grey-light-1);
  cursor: pointer;
  position: relative;
  transition: color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: right;
  z-index: 8;
  overflow: hidden; }
  .btn:hover {
    color: var(--color-secondary); }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-teal));
    transform-origin: left;
    transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: -1; }
  .btn:hover::after {
    width: 100%; }
  .btn:active, .btn:focus {
    outline: none; }

.header {
  height: 95vh;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem; }
    .header .navbar .logo {
      height: 10rem; }
    .header .navbar .nav {
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .navbar .nav__items {
        position: relative;
        padding-left: 1rem; }
        .header .navbar .nav__items:not(:last-child) {
          margin-right: 2.5rem; }
      .header .navbar .nav__items::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 0;
        height: 20%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.02, 0.13, 1.42) 0.2s; }
      .header .navbar .nav__items:hover::before {
        transform: scaleY(1);
        width: 115%; }
      .header .navbar .nav__link:link, .header .navbar .nav__link:visited {
        position: relative;
        z-index: 10;
        transition: all .2s; }
      .header .navbar .nav__link:hover {
        transform: translateY(-0.2rem); }
  .header__textbox {
    margin-left: 20%;
    margin-top: 10%;
    height: 40rem; }
