//CSS Properties//
:root {
    //Colors//
    --color-primary:        #00ff9c;
    
    --color-secondary:      #435058;
    --color-secondary-light:#849eae;
    --color-secondary-dark: #333333;

    --color-teal:           #1bf2da;

    --color-grey-light-1:   #ededed;


    --color-black:      #000;
    --color-white:      #fff;
}

//Font Size
$default-font-size: 1.6rem;